<%- include ("./partials/header") %>

<%= users.name %>
<%= users.email %>
<%= users.age %>
<%= users.Credits %>

<a href="/users/<%= users._id %>/edit">Make Transaction</a>


<%- include ("./partials/footer") %>